<div class="container">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input formControlName="description" matInput>
      <mat-label>
        Description
      </mat-label>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="type">
        <mat-option [value]="0">Day</mat-option>
        <mat-option [value]="1">Week</mat-option>
      </mat-select>
      <mat-label>
        Repeats every
      </mat-label>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="category" [value]="taskForm.get('category').value" #cat>
        <mat-option *ngFor="let category of categories" value="{{category}}">{{ category}}</mat-option>
        <mat-option value=''>Other</mat-option>
      </mat-select>
      <mat-label>
        Category
      </mat-label>
    </mat-form-field>
    <mat-form-field *ngIf="cat.value == ''" #otherCat>
      <input formControlName="otherCategory" matInput>
      <mat-label>
        Other category
      </mat-label>
    </mat-form-field>
    <div>
      <button type="submit" mat-button color="primary" [disabled]="!taskForm.valid || (cat.value == null) || (cat.value == '' && taskForm.get('otherCategory').value == '')">Save</button>
    </div>
  </form>
  <p>
    {{ !taskForm.valid  }}
    {{ (cat.value == null) }}
    {{ (cat.value == '' && taskForm.get('otherCategory').value == '') }}
    {{ cat.value }}
  </p>
</div>