

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.*/
   flex: 1 1 auto;
}

.cursor-pointer {
    cursor: pointer;
}

.subheader {
    margin-top: 20px;
    display: flex;
}

mat-list-option {
    transition: background-color 1s ease;
}

.selected-highlight {
    background-color: #fff8ed;
}

smooth-dnd-draggable {
    height: 48px;
}

.icon-button{
    margin-top: -10px;
}

.bottom-divider{
    margin-top: 8px;
}

.task-type-display{
    display: inline;
    font-size: x-small;
    color: gray;
}